.footer-socialNetworks {
    display: flex;
    margin-right: 40px;

    .footer-socialNetworks__logo {
        margin: 20px;

        span {
            font-size: 26px;
            color: #FFFFFF;
            
            &:hover{
                color: grey;
                cursor:pointer;
            }
        }
    }        
}

@media screen and (max-width: 1000px) {
    .footer-socialNetworks__logo {
        margin: 16px 0px 32px 22px;
    }
}

@font-face {
    font-family: 'icon';
    src: url('../../../../fonts/icon.eot');
    src: url('../../../../fonts/icon.eot?#iefix') format('embedded-opentype'),
         url('../../../../fonts/icon.woff') format('woff'),
         url('../../../../fonts/icon.ttf') format('truetype'),
         url('../../../../fonts/icon.svg#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'icon';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-Logo:before{content:'\0041';}
.icon-insta:before{content:'\0042';}
.icon-facebook:before{content:'\0044';}
.icon-vk:before{content:'\0045';}
