.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 47%;
    
        @media screen and (max-width: 1000px) {
            width: 88%;
        }

        .formWrapper-block{

            &:first-child{

                .formWrapper-block_header {
                    
                    &:first-child {
                        margin-top: 0px; 
                    }
                }
            }


        
            .formWrapper-block_header {
                padding: 0px;
                font-size: 36px;
                color: #1B1B1B;
                margin-top: 33px; 
                margin-top: 60px; 
        
                @media screen and (max-width: 1000px) {
                    font-size: 24px;
                    margin-top: 0px;
                }
            }
        
        
            .formWrapper-block_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
        
                @media screen and (max-width: 1000px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                
                span {
                    font-size: 14px;     
                }
        
                .imgEyes {
                    background: url(./../../../asset/RegistrEyesInput.svg) no-repeat 90% 50%;
                
                    @media screen and (max-width: 1000px) {
                        background-position: 96% 50%;
                    }
                }

                .imgCalendar {
                    background: url(./../../../asset/RegistrCalendarInput.svg) no-repeat 90% 50%;
                
                    @media screen and (max-width: 1000px) {
                        background-position: 96% 50%;
                    }
                }
        
                .formWrapper-block_input {
                    border: 1px solid #E0E0E0;
                    box-sizing: border-box;
                    border-radius: 6px;
                    width: 61%;
                    height: 44px;
                    padding-left: 12px;
                    outline: none;
        
                    @media screen and (max-width: 1000px) {
                        margin-top: 12px;
                        width: 100%;
                    }
        
                    &:focus {
                        border: 2px solid #61A199;
                        
                    }
        
                    &:hover {
                        border-color: #61A199;
                    }
        
                }
        
                .formWrapper-block_inputSmall{
                    width: 23%;
                    margin-right: 38%;
        
                    @media screen and (max-width: 1000px) {
                        width: 100%;
                    }
                }
            }
        }
    }    
}
