@import "./../_Common/_variables.scss";

.qstSection{
    
    .qst{
        outline: none;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: solid 0px #F7F7F8;
        background-color: #F7F7F8;
        border-radius: 6px;

        span{
            font-family: Roboto;
            font-size: 14px;
            line-height: 147.3%;
            color: $main-text-color;
            padding: 14px 0px 14px 20px;
            text-align: left;

            @media screen and (min-width: 600px) {
                font-size: 20px;
                padding: 18px 0px 18px 22px;
            }
        }
    }

    .answ{
        display: none;
        font-family: Roboto;
        font-size: 14px;
        line-height: 147.3%;
        color: $main-text-color;
        margin-left: 20px;

        @media screen and (min-width: 600px) {
            font-size: 20px;
        }
    }

    .arrow{
        padding-right: 16px;
    }

    .up{
        display: none;
    }

    .down{
        display: inline;
    }

    .qst:hover{
        background: rgba(97, 161, 153, 0.1);
    }
    
}

.open{

    margin-bottom: 30px;

    .qst{
        background-color: rgba(97, 161, 153, 0.15);

        span{
            color: #61A199;
        }
    }

    .answ{
        display: inline;
    }

    .up{
        display: inline;
    }

    .down{
        display: none;
    }
}