.main-headersSteps {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        margin: 61px 0px 14px;
        font-size: 20px;
        color: #828282;

        @media screen and (max-width: 1000px) {
            margin: 14px 0px 10px;
            font-size: 12px;
        }
    }

    h1 {
        margin: 0px 0px 52px;
        font-size: 64px;
        color: #1B1B1B;

        @media screen and (max-width: 1000px) {
            margin-bottom: 40px;
            font-size: 32px;
        }
    }
}