@mixin flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-contact-data {
    display: flex;
    text-align: center;
    padding-bottom: 104px; 
    justify-content: center; 
    
    .main-contact-data__blockMail {
        @include flex;
        border-right: 1px solid #C8C8CF;
        width: 30vw;

        .main-contact-data__blockMail-connectHeader{
            margin: 0 auto;
            font-size: 14px;
            color: #4F4F4F;
        }

        .main-contact-data__blockMail-connectInfo{
            font-size: 20px;
            font-weight: bold;
            margin: 6px 70px 0px;
            display: inline-block;
            white-space: pre;

            &:hover{
                color: grey;
                cursor:pointer;
            }
        }
    }

    .main-contact-data__blockPhone {
        @include flex;
        width: 30vw;

        .main-contact-data__blockPhone-connectHeader{
            margin: 0 auto;
            font-size: 14px;
            color: #4F4F4F;
        }

        .main-contact-data__blockPhone-connectInfo{
            font-size: 20px;
            font-weight: bold;
            margin: 6px 70px 0px;
            display: inline-block;
            white-space: pre;

            &:hover{
                color: grey;
                cursor:pointer;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    .main-contact-data {
        @include flex;
        text-align: center;
        padding-bottom: 40px; 
        
        .main-contact-data__blockMail {
            border-right: none;
            text-align: center;  

            .main-contact-data__blockMail-connectHeader {
                margin-top: 20px;
                font-size: 12px;
            }
        
            .main-contact-data__blockMail-connectInfo {
                font-size: 14px;
                margin-top: 5px;
                white-space: nowrap;               
            }    
        }

        .main-contact-data__blockPhone {
            
            .main-contact-data__blockPhone-connectHeader {
                margin-top: 20px;
                font-size: 12px;
            }
        
            .main-contact-data__blockPhone-connectInfo {
                font-size: 14px;
                margin-top: 5px;
                white-space: nowrap;               
            }
        }

    }
}

