@import "./../_Common/_variables.scss";

.InfoHeader{
    font-family: Roboto;
    font-size: 24px;
    line-height: 120%;
    color: &main-text-color;
    margin: 0;
    margin-bottom: 30px;
}

.fields{
    margin-top: 30px;

    .field{
        margin-bottom: 26px;
    }
}

@media screen and (min-width: 600px) {
    .InfoHeader{
        font-size: 36px;
        line-height: 147.3%;
    }

    .inputs{
        field{
            display: block;
            margin-bottom: 20px;
        }
    }

    #birth, #phone, #passport, #passportdate, #passportcode, #licence, #licencedate{
        width: 155px;
    }
    
}