.footer {
    width: 100%;
    margin-top: 90px;
    border-top: 1px solid #DEE2E4;
    text-align: center;

    @media screen and (max-width: 1000px) {
        margin-top: 40px;
    }

    .footer-button {
        background: #E6E6E6;
        border-radius: 6px;
        color: #B4B5BD;
        width: 176px;
        height: 51px;
        background-repeat: no-repeat;
        border: 0;
        margin: 17px 0px;

        @media screen and (max-width: 1000px) {
            width: 88%;
        }
    }
}