@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@mixin flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* header */

.font {
    font-family: 'Roboto', sans-serif;
}

.header-menu {

    .header-menu__Logo {
        display:block;
        float: left;
        margin: 25px 40px 0px;
    }

    .header-navbar {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        align-items: center;
        font-weight: bold;
    
        .header-navbar__list {
            padding: 35px 30px;
    
            .header-navbar__list_text {
                color: black;
            }
        }
    
        .header-navbar__btnDesk {
            background-color: transparent;
            cursor: pointer;
            Width: 106px;
            Height: 43px;
            border-radius: 6px;
            margin: 0px 40px;
            padding: 5px 20px;
    
            .header-navbar__btnDesk_btnText {
                font-weight: bold;
            }
        }
    
        [attr~="changeColorlink"]:hover{
            color: grey;
            cursor:pointer;
        }
    }
    
    .header-menu__btnMobile {
        display: none;
        border: none;
        background-color: transparent;
    }
}

@media screen and (max-width: 1000px) {
    .header-menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        .header-menu__Logo {
            display:block;
            float: left;
            margin: 20px 20px;
            color: #1B1B1B;
        }

        .header-navbar {
            display: none;
        }

        .header-menu__btnMobile {
            display:block;
            float: left;
            margin: 20px 20px;
            color: #000000;
            width: 18px;
            height: 12px;
            margin: 28px 23px;
        }
    }
  }

  a {
    text-decoration: none;
}

  ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* main */

.main-aboutUs {
    @include flex;
    text-align: center;
    margin-top: 80px;

    .main-aboutUs__heading {
        font-size: 64px;
        font-weight: bold;
        margin: 60px 0px 30px;
    }

    .main-aboutUs__text {
        margin: 0 auto;
        font-size: 24px;
        width: 925px;
        height: 105px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .main-aboutUs {
        .main-aboutUs__img {
            width: 70vw;
        }

        .main-aboutUs__heading {
            font-size: 32px;
            margin: 40px 0px 10px;
        }

        .main-aboutUs__text {
            font-size: 16px;
            margin: 0 auto;
            font-size: 16px;
            width: 335px;
            height: auto;
            padding-bottom: 40px;
            color: #1B1B1B;
        }
    }
}


.main-contact {
    padding-top: 80px;
    background: #F7F9FB;

    .main-contact__header {
        text-align: center;
        font-size: 48px;
        margin: 0 auto;
        padding-bottom: 40px;    
    }

    .main-contact-data {
        display: flex;
        text-align: center;
        padding-bottom: 104px; 
        justify-content: center; 
        
        .main-contact-data__blockMail {
            @include flex;
            border-right: 1px solid #C8C8CF;
            width: 30vw;
        }

        .main-contact-data__blockPhone {
            @include flex;
            width: 30vw;
        }

        [attr="connect-header"] {
            margin: 0 auto;
            font-size: 14px;
            color: #4F4F4F;
        }
        
        [attr~="connect-info"] {
            font-size: 20px;
            font-weight: bold;
            margin: 6px 70px 0px;
            display: inline-block;
            white-space: pre;
        }

        [attr~="changeColorlink"]:hover{
            color: grey;
            cursor:pointer;
        }
    }
}

@media screen and (max-width: 1000px) {
    .main-contact {
        padding-top: 40px;

        .main-contact__header {
            text-align: center;
            font-size: 24px;
            margin: 0 auto;         
            padding-bottom: 0px;   
        }

        .main-contact-data {
            @include flex;
            text-align: center;
            padding-bottom: 40px; 
            
            .main-contact-data__blockMail {
                border-right: none;
                text-align: center;  

                [attr="connect-header"] {
                    margin-top: 20px;
                    font-size: 12px;
                }
            
                [attr="connect-info"] {
                    font-size: 14px;
                    margin-top: 5px;
                    white-space: nowrap;               
                }    
            }

            .main-contact-data__blockPhone {
                
                [attr="connect-header"] {
                    margin-top: 20px;
                    font-size: 12px;
                }
            
                [attr="connect-info"] {
                    font-size: 14px;
                    margin-top: 5px;
                    white-space: nowrap;               
                }
            }

        }
    }
}

[attr="main-team-header"] {
    font-size: 48px;
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
}

.main-team-cards {
    display: flex;
    justify-content: center;

    .main-team-cards__blockPerson {
        @include flex;
        text-align: center;
        padding-top: 55px;
        justify-content: center;

        & + div {    
            margin-left: 80px;
        }

        .main-team-cards__name {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 0 auto;
            padding: 23px 0px 8px;
        }

        .main-team-cards__position {
            text-align: center;
            color: #828282;
            margin: 0 auto;
            font-size: 14px;
        }
    }
}

[attr="mobileView"] {
    display:none;
}

@media screen and (max-width: 1000px) {
    [attr="main-team-header"] {
        font-size: 24px;
        padding-top: 40px;
        margin: 0 auto;
    }

    .main-team-cards{

        .main-team-cards__blockPerson {
            padding-top: 30px;

            & + div {
                margin-left: 32px;
            }

            & img:only-of-type {
                width: 80px;
                height: 80px;
            }

            .main-team-cards__name {
                font-size: 16px;
                padding: 15px 0px 3px;
                width: 135px;
            }

            .main-team-cards__position {
                font-size: 12px;
            } 
        }

        [attr="deskView"] {
            display: none;
        }
    }

    [attr="mobileView"] {
        display: flex;
        justify-content: center;
    }
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3F3D56;
    height: 124px;
    margin-top: 120px; 
    
    .footer__copyright {
        color: #FFFFFF;    
        margin-left: 40px;
    }

    [attr~="changeColorlink"]:hover{
        color: grey;
        cursor:pointer;
    }

    .footer-socialNetworks {
        display: flex;
        margin-right: 40px;

        .footer-socialNetworks__logo {
            margin: 20px;

            [attr~="footer-logo"] {
                font-size: 26px;
                color: #FFFFFF;
            }

            [attr~="changeColorlink"]:hover{
                color: grey;
                cursor:pointer;
            }
        }        
    }
}

@media screen and (max-width: 1000px) {
    .footer {
        height: 125px;
        margin-top: 60px;  
        justify-content: flex-start;
        align-items: flex-start;  
        flex-direction: column;

        .footer__copyright {    
            margin-left: 20px;
            margin-top: 30px;
        }

        .footer-socialNetworks__logo {
            margin: 16px 0px 32px 22px;
        }
    }
}


@font-face {
    font-family: 'icon';
    src: url('../fonts/icon.eot');
    src: url('../fonts/icon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icon.woff') format('woff'),
         url('../fonts/icon.ttf') format('truetype'),
         url('../fonts/icon.svg#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'icon';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-Logo:before{content:'\0041';}
.icon-insta:before{content:'\0042';}
.icon-facebook:before{content:'\0044';}
.icon-vk:before{content:'\0045';}